<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>PyTXT - Administration Panel</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" type="text/css" href="/static/css/2ch.css" title="2ch">
  </head>
  <body class="board">
    <div class="hborder">
      <div class="head">
        <h1 align="center">
          PyTXT Administration Panel
        </h1>
      </div>
    </div>
    <div class="border">
      <div class="thread">
        {{ page_text }}
      </div>
    </div>
    <br>
    <div class="legal">
    - PyTXT + kusaba -<br>
    <a href="{{ account_url }}">{{ account_url_linktext }}</a>
    </div>
  </body>
</html>